.button2 {
    -fx-background-color:  #212F3C;
    -fx-text-fill: #fff;
}

.button2:hover {
    -fx-background-color: #2E4053;
    -fx-text-fill: #fff;
}

.button2:pressed {
    -fx-background-color: #2E4053;
    -fx-text-fill: #fff;
}
.button2:selected {
    -fx-background-color: #2E4053;
    -fx-text-fill: #fff;
    -fx-border-color: #FFF;
    -fx-border-width: 0 0 0 3;
}

.error-effet {
    -fx-focus-color: #d35244;
    -fx-border-width: 1px;
    -fx-faint-focus-color: #d3524422;
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}




